/build-CV-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/.qmake.stash
/build-CV-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/CV.exe
/build-CV-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/cvitae.o
/build-CV-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/main.o
/build-CV-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/moc_cvitae.cpp
/build-CV-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/moc_cvitae.o
/build-CV-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/moc_predefs.h
/build-CV-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/Makefile
/build-CV-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/Makefile.Debug
/build-CV-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/Makefile.Release
/build-CV-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/ui_cvitae.h
/CV/CV.pro.user
